<div class="d-flex py-2 mb-1" style="background-color: #f5f5f5;">
    <div>
        <a class="px-2" href="http://apps.adpcorp.com/sites/SmartHub/wg/" target="_blank">Wage Garnishments SmartHub</a>
            <span>|</span>
    </div>
    <div>
        <a class="px-2" href="https://www.pacer.gov/pcl.html" target="_blank">Pacer </a> <span>|</span>
    </div>
    <div>
        <a class="px-2" href="http://collaboration.adpcorp.com/Sites/UPGSv2/Pages/GS_DocID_Tool.aspx" target="_blank">Lien
            Setup Tool</a> </div> <div class="ml-auto px-3">
            <a style="color: #007bff">2013 Automatic Data Processing Inc</a>
    </div>
</div>