/* .registerForm {
    width: 450px;
    align-items: center;
}; */
/* .registerStyle{
    padding-top: 70px;
    padding-bottom: 20px;
} */
  .row{
    padding: 10px;
    background-color: beige;
    border-radius: 40px;
    margin: 15px;
  }