<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">
    <img src="/assets/img/ADPSmartCompLogo.png" width="90" height="55" class="d-inline-block align-top">
  </a>
  <span class="app-title">Wage Garnishments Record System</span>
  <div class="ml-auto p-2">
    <a (click) = "showSearchFilter()">
      <i class="fas fa-search fa-2x btn-btn-primary"></i>
    </a>
  </div>
</nav>
<div class="d-flex flex-row border">
  <div class="pl-3 pr-3">
    <button type="button" class="btn btn-outline-primary">MY VIEW</button>
  </div>
  <div class="pl-3 pr-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" ngbDropdownToggle>ADMINISTRATION</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
  </div>
  <div class="pl-3 pr-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" ngbDropdownToggle>REPORTS</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
  </div>
</div>