label {
    margin-bottom: unset;
    font-size: small;
    font-weight: 500;
}
.form-control {
    border-radius: unset;
    max-height: 30px;
    max-width: 90%;

}
select {
    font-size: 0.76rem;
    font-weight: 650;
}
.row {
    background-color: #ebebeb;
    border-radius: unset;
}

label {
    padding-left: 10px;
}
.input-group {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top:2px;
}
.form-group {
    background-color: #ebebeb;
    padding: 10px;
}
